---
import { getCollection } from 'astro:content';

import Main from '../../layouts/main.astro';
import TableOfContents from '../../components/table-of-contents.astro';

export const reports = await getCollection('reports');

export async function getStaticPaths() {
  return reports.map((report) => {
    return {
      params: {
        slug: report.slug,
      },
      props: {
        report,
      },
    };
  });
}

const {
  report,
  report: {
    data: { title },
  },
} = Astro.props;

const { Content, headings } = await report.render();
---

<Main className='prose prose-lg'>
  <section class='block xl:flex gap-8'>
    <aside class='hidden xl:block relative order-2'>
      <div class='fixed'>
        <TableOfContents headings={headings} />
      </div>
    </aside>
    <div class='w-full xl:w-9/12'>
      <h1>{title}</h1>
      <Content />
    </div>
  </section>
</Main>
