---
import { getCollection } from 'astro:content';

import Main from '../../layouts/main.astro';
import TableOfContents from '../../components/table-of-contents.astro';
import SiteFooter from '../../components/site-footer.astro';

export const reports = await getCollection('reports');

export async function getStaticPaths() {
  return reports.map((report) => {
    return {
      params: {
        slug: report.slug,
      },
      props: {
        report,
      },
    };
  });
}

const {
  report,
  report: {
    data: { title },
  },
} = Astro.props;

const { Content, headings } = await report.render();
---

<Main className='prose prose-lg'>
  <div class='block'>
    <aside class='relative'>
      <div class='fixed hidden xl:block top-8 bottom-0 right-[max(0px,calc(50%-42rem))] w-96 p-8 overflow-y-auto z-10'>
        <TableOfContents headings={headings} />
      </div>
    </aside>
    <div class='relative -mt-6 w-full xl:w-9/12'>
      <a class='text-xs uppercase hover:text-brand-text' href='/'>Back</a>
      <h1 class='text-2xl sm:text-4xl font-heading uppercase font-bold mb-4'>{title}</h1>
      <Content />
      <hr />
      <SiteFooter />
    </div>
  </div>
</Main>
