---
import Github from '../icons/github.astro';
---

<footer class='p-8 bg-brand-surface border border-brand-border rounded'>
  <h2 class='text-2xl sm:text-3xl font-heading uppercase font-bold mt-0 mb-4 text-center sm:text-left'>contribute</h2>
  <p class='text-lg mb-8 text-center sm:text-left'>
    Databranching is an Open-source MIT licensed project. Contributions from all providers are welcome. If you'd like to
    add a provider, or make changes to existing providers, follow the instructions in the repository
    <a href='https://github.com/databranching/databranching' class='text-brand-salmon underline'> README</a>.
  </p>
  <div class='flex justify-center sm:justify-start'>
    <a
      href='https://github.com/databranching/databranching'
      target='_blank'
      rel='noopener'
      class='inline-flex gap-2 items-center px-6 py-3 bg-brand-salmon no-underline rounded-sm !text-brand-text'
    >
      <Github />
      Data Branching</a
    >
  </div>
</footer>
