---
import Check from '../icons/check.astro';
import Cross from '../icons/cross.astro';
import Warning from '../icons/warning.astro';

const { tableHeaders, tableRows } = Astro.props;

type IconName = 'check' | 'cross' | 'warning';

interface Props {
  tableHeaders: string[];
  tableRows: (string | IconName)[][];
}

const getIconComponent = (item: IconName) => {
  const icons = {
    check: Check,
    cross: Cross,
    warning: Warning,
  };
  return icons[item] || null;
};
---

<div class='overflow-x-auto border border-brand-border'>
  <table class='text-xs sm:text-base border-collapse table-auto border-none w-full min-w-[600px]'>
    <thead>
      <tr class='border-b border-b-brand-border bg-brand-surface'>
        {
          tableHeaders.map((header) => {
            return (
              <th class='font-semibold text-center uppercase first:border-r first:border-r-brand-border last:border-l last:border-l-brand-border p-2'>
                {header}
              </th>
            );
          })
        }
      </tr>
    </thead>
    <tbody>
      {
        tableRows.map((row) => {
          return (
            <tr class='border-t border-t-brand-border'>
              {row.map((item): IconName => {
                const Icon = getIconComponent(item as IconName);
                return (
                  <td class=' first:border-r first:border-r-brand-border last:border-l last:border-l-brand-border p-2'>
                    {Icon ? <Icon className='mx-auto size-5 sm:size-6' /> : item}
                  </td>
                );
              })}
            </tr>
          );
        })
      }
    </tbody>
  </table>
</div>
