---
const { headings } = Astro.props;
---

<ul class='list-none m-0 p-0'>
  {
    headings.map((heading) => {
      const { depth, slug, text } = heading;
      return (
        <li style={{ marginLeft: `${depth * 16}px` }}>
          <a href={`#${slug}`}>{text}</a>
        </li>
      );
    })
  }
</ul>
