---
import Check from '../icons/check.astro';
import Cross from '../icons/cross.astro';
import Warning from '../icons/warning.astro';

const { tableHeaders, tableRows } = Astro.props;

type IconName = 'check' | 'cross' | 'warning';

interface Props {
  tableHeaders: string[];
  tableRows: (string | IconName)[][];
}

const getIconComponent = (item) => {
  const icons = {
    check: Check,
    cross: Cross,
    warning: Warning,
  };
  return icons[item] || null;
};
---

<div class='overflow-x-auto'>
  <table class='table-auto border-collapse border border-brand-border w-full min-w-[600px]'>
    <thead>
      <tr>
        {
          tableHeaders.map((header) => {
            return (
              <th class='font-semibold text-center uppercase border border-brand-border bg-brand-surface p-2'>
                {header}
              </th>
            );
          })
        }
      </tr>
    </thead>
    <tbody>
      {
        tableRows.map((row) => {
          return (
            <tr>
              {row.map((item) => {
                const Icon = getIconComponent(item);
                return (
                  <td class='border border-brand-border p-2'>{Icon ? <Icon className='mx-auto size-6' /> : item}</td>
                );
              })}
            </tr>
          );
        })
      }
    </tbody>
  </table>
</div>
